NVIDIA_API_KEY=your_nvidia_api_key_here
GOOGLE_CLIENT_ID=455530891300-dshhdihvkt21jacnh596j8hn6talsg29.apps.googleusercontent.com
FIREBASE_PROJECT_ID=login-data-680b9
FIREBASE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"login-data-680b9","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"firebase-adminsdk-...@login-data-680b9.iam.gserviceaccount.com","client_id":"..."}
PORT=5000
DODO_PAYMENTS_API_KEY=your_dodo_api_key_here
DODO_PAYMENTS_WEBHOOK_SECRET=whsec_your_webhook_secret
DODO_PAYMENTS_ENVIRONMENT=test
DODO_PAYMENTS_PRODUCT_ID=
BREVO_API_KEY=your_brevo_api_key_here
FROM_EMAIL=support@rutujdhodapkar.tech
FROM_NAME=DEV/CRAFT
