.circular-text {
  position: relative;
  border-radius: 50%;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
}
